body{ 
                 padding: 0;
	margin: 0;
	background: #000000;
}

#particles-js{
  width: 100%;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
 align-items: center;
}

.particles-js-canvas-el{
 position: absolute;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 700;
}

.title.title-up {
  text-transform: uppercase;
}

.title.title-up a {
  color: #2c2c2c;
  text-decoration: none;
}

h4+.category,
h4.title+.category,
.h4+.category,
.h4.title+.category {
  margin-top: -10px;
}

 .page-header .title {
  margin-bottom: 15px;
}

.page-header .title+h4 {
  margin-top: 10px;
}
.panel-header .header .title {
  color: #FFFFFF;
}

.title+.category {
  margin-top: -10px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0,0,0);
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #000000;
  color: white;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.topnav .icon {
  display: none;
}
